RewriteEngine On

# Redirect non-www and http to https://www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^yuvrajassociates\.in [NC]
RewriteRule ^(.*)$ https://www.yuvrajassociates.in/$1 [L,R=301]
