
    <div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Address</h3>
                    <address>D-72, 2nd Floor, Nawada Housing Complex,<br>Near Gauri Temple, Dwarka More<br> New Delhi-59</address>
                    <ul class="list-unstyled links">
                        <li><a href="tel://9958377196">+91 9958377196</a> <a href="tel://9560385601">+91 9560385601</a></li>
                        <li><a href="mailto:sudhanshukumar041@gmail.com">sudhanshukumar041@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Company</h3>
                    <ul class="list-unstyled float-start links">
                        <li><a href="about.html">About us</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="partners.html">Partners</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget">

                    <h3>Social</h3>
                    <ul class="list-unstyled social">
                    <li><a href="#"><span class="bi bi-instagram"></span></a></li>
                    <li><a href="#"><span class="bi bi-twitter"></span></a></li>
                    <li><a href="#"><span class="bi bi-facebook"></span></a></li>
                    <li><a href="#"><span class="bi bi-linkedin"></span></a></li>
                    <li><a href="#"><span class="bi bi-pinterest"></span></a></li>
                    <li><a href="#"><span class="bi bi-dribbble"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 text-center"><p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Created by <a href="https://www.webcreatix.com">WebCreatix.com</a></p>
        </div>
    </div>
    </div>
    </div>
    <a href="https://wa.me/919958377196" class="whatsapp-floating" target="_blank"><i class="bi bi-whatsapp"></i>